[submodule "Coursera-Machine-learning-on-GCP-Specialization"]
	path = Coursera-Machine-learning-on-GCP-Specialization
	url = https://github.com/rainoverme002/Coursera-Machine-learning-on-GCP-Specialization.git
[submodule "Coursera-Ruby-on-Rails-an-Introduction"]
	path = Coursera-Ruby-on-Rails-an-Introduction
	url = https://github.com/rainoverme002/Coursera-Ruby-on-Rails-an-Introduction.git
